@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #d674f9, #7e1cfc);
}

.container {
  width: min(500px, 90vw);
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
}

#riddle {
  font-size: 18px;
  margin-bottom: 20px;
}

#show-answer,
#next {
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

#show-answer {
  background-color: #7e1cfc;
  color: #fff;
}

#next {
  background-color: #fff;
  border: 2px solid #7e1cfc;
  color: #7e7e7e;
}

#answer {
  margin-left: 10px;
}

.hide {
  display: none;
}
