@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #37474f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  background-color: #232931;
  color: #ffff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
}

.left-info {
  width: 260px;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background: url('weather1.png');
  background-position: center;
  background-size: cover;
  transform: scale(1.03) perspective(200px);
  cursor: pointer;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.left-info:hover {
  transform: scale(1.1) perspective(2500px) rotateY(5deg);
}

.pic-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #a6d6b4 10%, #589982 100%);
  border-radius: 25px;
  opacity: 0.5;
}

.today-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.today-info h2 {
  color: #2f4c4e;
}

.today-info div {
  color: #2f4c4e;
  font-weight: 600;
}

.today-weather {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 20px;
  left: 20px;
}

.today-weather .bx {
  font-size: 4.5rem;
  color: #f9d188;
}

.weather-temp {
  font-weight: 700;
  font-size: 3.5rem;
  color: #232931;
}

.right-info {
  position: relative;
  height: 100%;
  padding-top: 25px;
}

.day-info {
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
}

.day-info div:not(:last-child) {
  margin-bottom: 6px;
}

.day-info div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.day-info div .title {
  font-weight: 700;
}

.day-info div .value {
  font-weight: 300;
}

.days-list {
  list-style: none;
  display: flex;
  gap: 5px;
  margin: 10px 35px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.days-list li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.days-list li .bx {
  margin-bottom: 5px;
  font-size: 2rem;
}

.days-list li:hover {
  transform: scale(1.1);
  background: #fff;
  color: #333831;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.days-list li .day-temp {
  margin-top: 6px;
  font-weight: 700;
}

.btn-container {
  padding: 25px 35px;
}

.loc-button {
  outline: none;
  width: 100%;
  border: none;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px;
  background-color: #a5d6b8;
  color: #232931;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.loc-button:hover {
  background-color: #589982;
  color: #fff;
}
