@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #3dcf91;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
}

.image-wrapper {
  background-color: #26805a;
  border-radius: 50%;
  top: 20%;
  left: 90%;
  position: absolute;
}

img {
  width: 700px;
  height: 700px;
}

.card {
  background-color: #11141d;
  padding: 4em;
  border-radius: 0.5em;
}

.card h1 {
  color: #3dcf91;
}

.card p {
  color: #909090;
  margin: 2em 0 0.5em 0;
}

.card textarea {
  resize: none;
  width: 100%;
  background-color: #292c34;
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 0.5em;
  color: #fff;
}

.card button {
  display: block;
  background-color: #3dcf91;
  color: #fff;
  border: none;
  outline: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  margin: 1.5em auto 2em auto;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.card button:hover {
  background-color: #31a877;
}

p#result {
  text-align: center;
  color: #fff;
  font-size: 1em;
}

#result span {
  color: #3dcf91;
}
